<footer id="footer" class="site-footer">
  <div class="inner">
    <div class="copyright">
          <div class="logo" style='margin-bottom:2em'><img src="{{ site.baseurl }}/assets/img/logo-pucv-bn.svg"
               alt="Pontificia Universidad Católica de Valparaíso">
          </div>

      {% if site.copyright %}
        {{ site.copyright | markdownify }}
      {% else %}
        <p>{% if site.logo %}<img src="{{ site_logo }}" alt="{{ site.title }}" class="site-logo">{% endif %} <span class='brand'>{{ site.title }}</span> {{ site.time | date: '%Y' }}{% if site.slogan %} ~ <span class="slogan">{{ site.slogan }}</span> {% endif %}
        </p>
      {% endif %}
    </div>
  </div>
</footer>
